.banner__container {
  display: flex;
  overflow: hidden;
  background-image: url("../public/images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 49rem;
  box-sizing: border-box;
  overflow: hidden;
}

.banner__container div {
  width: 795px;
  margin: auto;
}

.banner__container h2 {
  margin: 0;
  font-family: var(--secondary-font);
  font-size: var(--large-font);
  color: var(--white);
  margin-bottom: 100px;
}

.banner__container div {
  text-align: center;
}

.button {
  margin-top: 30px;
  width: 291px;
  height: 67px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue);
  font-family: var(--default-font);
  color: var(--white);
  font-size: medium;
  text-decoration: none;
  padding: 15px;
}


@media screen and (min-width: 576px) and (max-width: 768px) {
  .banner__container {
    height: 39rem;
  }

  .banner__container div {
    width: 80%;
    margin: auto;
  }

  .banner__container h2 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 46px;
    color: var(--white);
    margin-bottom: 100px;
  }
  
}