.banner__container {
  position: relative;
  display: flex;
  overflow: hidden;
  background-image: url("../public/images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 49rem;
  box-sizing: border-box;
  overflow: hidden;
}

.banner__container div {
  width: 795px;
  margin: auto;
}

.banner__container h2 {
  margin: 0;
  font-family: var(--secondary-font);
  font-size: var(--large-font);
  color: var(--white);
  margin-bottom: 100px;
}

.banner__container div {
  text-align: center;
}

.button {
  margin-top: 30px;
  width: 291px;
  height: 67px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue);
  font-family: var(--default-font);
  color: var(--white);
  font-size: medium;
  text-decoration: none;
  padding: 15px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

  .banner__container {
    height: 30rem;
  }

  .banner__container div {
    width: 80%;
  }

  .banner__container h2 {
    font-size: var(--big-font);
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {

  .banner__container {
    height: 30rem;
  }

  .banner__container div {
    width: 80%;
  }

  .banner__container h2 {
    font-size: var(--big-font);
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {

 

  .banner__container div {
    width: 90%;
    margin: auto;
  }

  .banner__container h2 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 3.2rem;
    color: var(--white);
    margin-bottom: 100px;
  }


  .button {
    margin-top: 30px;
    width: 291px;
    height: 67px;
    border: none;
    border-radius: 8px;
    background-color: var(--blue);
    font-family: var(--default-font);
    color: var(--white);
    font-size: large;
    text-decoration: none;
    padding: 20px;
  }
}