.container__footer {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-family: var(--default-font);
}

.titles__container {
  text-align: center;
  font-size: 1.4rem;
}

.container__listTwo__footer,
.container__listOne__footer {
  color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container__listOne__footer ul,
.container__listTwo__footer ul {
  text-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 5px;
}

.container__listTwo__footer ul li {
  font-size: 0.8rem;
}

.container__listOne__footer ul {
  display: flex;
  gap: 2rem;
}

.container__listOne__footer ul li a {
  font-size: 2.5rem;
}

.container__listTwo__footer ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}


.button__loc {
  background-color: var(--blue);
  border-radius: 8px;
  border: none;
  width: 150px;
  height: 35px;

}

.button__loc a {
  color: var(--white2);
  font-size: 0.9rem;
  text-decoration: none;
}

.telefone__container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  
}

.telefone__container  p {
  padding: 0;
  margin: 0;
 
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  .container__footer {
    flex-direction: column;
    height: auto;
    margin-block: 3rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
  .container__footer {
    flex-direction: column;
    height: auto;
    margin-block: 3rem;
  }
}