.container__footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--white2);
    align-items: center;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: var(--blue);
    height: 280px;
}
.titles__container{
    text-align: center;
    color: var(--blue);
    width: 400px ;
}

.listfooter__container1 h2 {
    text-align: center;
}

.listfooter__container1 ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.listfooter__container1 ul li a {
    text-decoration: none;
    color: var(--blue);
}

.listfooter__container1{
    margin-top: 50px;
}

.listfooter__container2 h2 {
    text-align: center;
}

.listfooter__container2 ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.listfooter__container2 ul li a {
    text-decoration: none;
    color: var(--blue);
}
.logofooter__class{
    width: 200px;
    height: 200px;
}