/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Josefin Slab */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("header.css");
@import url("banner.css");
@import url("about_us.css");
@import url("footer.css");
@import url("menu.css");
@import url("novidades.css");

:root {
  /* Colors */
  --blue: #2750b2;
  --brown: #5f4948;
  --white: #ffffff;
  --white2: #fef8f0;
  --brown2: #483433;
  --lightgray: #eeeeee;
  --gray: #9c9c9c;
  /* Font  Family */
  --default-font: "Montserrat", sans-serif;
  --secondary-font: "Josefin Slab", sans-serif;
  /* Font Size */
  --small-font: 20px;
  --normal-font: 24px;
  --medium-font: 28px;
  --big-font: 32px;
  --big-font2: 40px;
  --large-font: 64px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow-y: visible;
}

main {
  background-color: var(--white2);
}