.container__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--default-font);
  font-size: var(--big-font2);
  font-family: var(--secondary-font);
  width: 100%;
  margin: auto;
  background-color: var(--white2);
}

.container__menu h2 {
  color: var(--brown);
}

.list__container_menu {
  display: flex;
  gap: 50px;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.list__container_menu li button {
  text-decoration: none;
  color: var(--brown);
  font-size: var(--medium-font);
  border: none;
  background-color: transparent;
}

.list__container_menu li button:hover {
  color: var(--blue);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.list__container_menu li button.clicado {
  color: var(--blue);
  font-weight: bold;
  text-decoration: underline;
}

.container__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  margin-top: 2%;
}

.name__product {
  font-size: var(--normal-font);
  background-color: var(--white2);
  width: auto;
  height: 20px;
  position: relative;
  bottom: 80px;
  left: 15px;
  z-index: 2;
  padding: 5px;
}
