.container_novidades {
  background-image: url("../public/images/paozinho.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30.5rem;
  overflow: hidden;
}

.novidades_textos {
  color: white;
  align-items: center;
  font-family: "Montserrat";
  width: 60%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: center;
}

.novidades_textos h4 {
  font-size: 2.2em;
}

.novidades_textos p {
  font-size: 1.3em;
  white-space: inherit;
}

.novidades_form {
  width: 65%;
  margin: 30px;
}

.novidades_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.novidades_input {
  width: 600px;
  margin-bottom: 1.8rem;
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin-top: 2rem;
}

.novidades_input::placeholder {
  font-family: "Montserrat";
  font-size: var(--small-font);
  align-items: center;
}

.novidades_button {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-family: var(--default-font);
  font-size: var(--small-font);
  background-color: var(--blue);
  color: white;
}

.novidades_button:hover {
  cursor: pointer;
}
