.container_novidades {
  background-image: url("../public/images/paozinho.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30.5rem;
  overflow: hidden;
}

.novidades_textos {
  color: white;
  align-items: center;
  font-family: "Montserrat";
  width: 60%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: center;
}

.novidades_textos h4 {
  font-size: 2.2em;
}

.novidades_textos p {
  font-size: 1.3em;
  white-space: inherit;
}

.novidades_form {
  width: 65%;
  margin: 30px;
}

.novidades_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.novidades_input {
  width: 600px;
  margin-bottom: 1.8rem;
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin-top: 2rem;
}

.novidades_input::placeholder {
  font-family: "Montserrat";
  font-size: var(--small-font);
  align-items: center;
}

.novidades_button {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-family: var(--default-font);
  font-size: var(--small-font);
  background-color: var(--blue);
  color: white;
}

.novidades_button:hover {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .container_novidades {
    height: auto;
    background-size: auto;
  }

  .novidades_textos {
    width: 80%;
    text-align: justify;
  }

  .novidades_textos h4 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: justify;
    padding-block: 2rem;
    width: 100%;
  }

  .novidades_textos p {
    font-size: 93%;
    width: 100%;
    white-space: inherit;
  }

  .novidades_input {
    width: 100%;
    
  }

  .novidades_input::placeholder {
    font-size: 93%;
  }

  .novidades_button {
    width: 100%;
    margin-bottom: 3rem;
    font-size: 15px;
    font-weight: bold;
  }

}

@media screen and (min-width: 481px) and (max-width: 640px) {

  .container_novidades {
    height: auto;
    background-size: auto;
  }

  .novidades_textos {
    width: 80%;
    text-align: justify;
  }

  .novidades_textos h4 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: justify;
    padding-block: 2rem;
    width: 100%;
  }

  .novidades_textos p {
    font-size: 1.1rem;
    width: 100%;
    white-space: inherit;
  }

  .novidades_input {
    width: 100%;
    
  }

  .novidades_input::placeholder {
    font-size: 1rem;
  }

  .novidades_button {
    width: 100%;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

}

@media screen and (min-width: 641px) and (max-width: 1007px) {

  .container_novidades {
    height: auto;
    background-size: auto;
  }

  .novidades_textos {
    width: 80%;
    text-align: justify;
  }

  .novidades_textos h4 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: justify;
    padding-block: 2rem;
    width: 100%;
  }

  .novidades_textos p {
    font-size: 1.1rem;
    width: 100%;
    white-space: inherit;
  }

  .novidades_input {
    width: 100%;7
    
  }

  .novidades_input::placeholder {
    font-size: 1rem;
  }

  .novidades_button {
    width: 100%;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

}